<div class="col-md-12 user-container">
  <h2 style="margin: auto"> LIST OF STUDENTS</h2>
  <button class="btn btn-danger" style="width:150px" (click)="addStudent()"> Add Student</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th >REG ID</th>
      <th>NAME</th>
      <th>DATE OF BIRTH</th>
      <th>ACTIVE</th>
      <th>REGISTERED ON</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of students">
      <td >{{student.regId}}</td>
      <td>{{student.fname}}</td>
      <td >{{student.dob}}</td>
      <td>{{student.active}}</td>
      <td>{{student.admittedOn}}</td>
      <button class="btn btn-success" (click)="viewStudent(student)"> View</button>
      <td><button class="btn btn-success" (click)="deleteStudent(student)"  style="margin-left: 20px;"> Delete</button>
        <button class="btn btn-success" (click)="UpdateStudent(student)" style="margin-left: 20px;"> Edit</button></td>
    </tr>
    </tbody>
  </table>
</div>
